[submodule "CrimeBusters"]
	path = CrimeBusters
	url = https://github.com/gilsonator/CrimeBusters
	branch = main
[submodule "GoogleMaps"]
	path = GoogleMaps
	url = https://github.com/gilsonator/GoogleMaps
	branch = main