[submodule "CrimeBusters"]
	path = CrimeBusters
	url = https://github.com/gilsonator/CrimeBusters
	branch = main
[submodule "PlayGround"]
	path = PlayGround
	url = https://github.com/gilsonator/PlayGround
	branch = main
